@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Roboto:300,400,500,700,900&amp;display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}
@media (max-width: 565px) {
    .section-heading {
        font-size: 40px !important;
    }
}
html {
    scroll-behavior: smooth;
}
body {
    color: #777777;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.625em;
    position: relative;
}

.nav-link{
    font-size: 25px;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

.container {
    overflow: auto;
}

.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}


.link{
    text-decoration: none;
    color: #007bff;
    transition: all 0.3s;
}
.link:hover{
    text-decoration: none;
    color: #111;
    transition: all 0.3s;
}
.social-links li {
    list-style: none;
    display: inline-block;

}
.social-links li a {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative;
}
.social-links li a ion-icon {
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}
.social-links li a:hover {
    color: #111;
    transition: all 0.3s;
}

.tech-icon{
    height:20px;
}

.wrap {
    padding: 0;
}
@media (max-width: 767.98px) {
    .wrap {
        margin-top: 40px;
    }
}
@media (min-width: 768px) {
    .wrap .about-desc {
        position: relative;
    }
}
.wrap .about-desc .bold-text {
    position: absolute;
    top: -80px;
    left: 10px;
    right: 0;
    bottom: 0;
    font-weight: 700 !important;
    color: rgba(0, 0, 0, 0.08);
    text-transform: uppercase;
}
@media (min-width: 992px) {
    .wrap .about-desc .bold-text {
        font-size: 6em;
    }
}
@media (max-width: 991px) {
    .wrap .about-desc .bold-text {
        display: none;
    }
}

.progress-style {
    width: 400px;

}
@media (max-width: 412px) {
    .progress-style {
        width: 300px;

    }
}
.interests .icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.08);
    transition: ease-in-out 0.3s;
}

.interests .icon-box i {
    font-size: 32px;
    padding-right: 10px;
    line-height: 1;
}

.interests .icon-box h3 {
    font-weight: 300;
    margin: 0;
    padding: 0;
    padding-left: 0.5rem;
    line-height: 1;
    font-size: 20px;
    color: #111;
}

.interests .icon-box:hover {
    background: rgba(122, 122, 122, 0.12);
}

.bg-text {
    position: absolute;
    margin-bottom: -1em;
    top: -80px;
    left: 10px;
    right: 0;
    bottom: 0;
    font-weight: 700 !important;
    color: rgba(0, 0, 0, 0.08);
    text-transform: uppercase;
}
@media (min-width: 992px) {
    .bg-text {
        font-size: 6em;
    }
}
@media (max-width: 991.98px) {
    .bg-text {
        display: none;
    }
}
@media (max-width: 767.98px) {
    .bg-text {
        display: none;
    }
}
@media (min-width: 768px) {
    .bg-text {
        position: relative;
    }
}
.profile-text {
    font-weight: 300;
}
@media (max-width: 768px) {
    .profile-text {
        font-size: 20px !important;
    }
}

@media (min-width: 768px) {
    .blog-entry {
        margin-bottom: 30px; } }

@media (max-width: 767.98px) {
    .blog-entry {
        margin-bottom: 30px; } }

.blog-entry .text {
    position: relative;
    border-top: 0;
    border-radius: 2px; }
.blog-entry .text .heading {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 500; }
.blog-entry .text .heading a {
    color: #111; }
.blog-entry .text .heading a:hover, .blog-entry .text .heading a:focus, .blog-entry .text .heading a:active {
    color: #2f89fc; }

.blog-entry .meta > div {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 15px; }
.blog-entry .meta > div a {
    font-size: 15px;
    color: #8c8c8c; }

.stacks-used{
    color: #8c8c8c;
}

.carousel-item {
    display: flex;
    justify-content: space-between;
}

.carousel-item-img {
    flex: 1 0 20%; /* 100% / 5 images = 20% width per image */
    padding: 0 5px; /* Adjust space between images */
}

.carousel-item-img img {
    width: 100%;
    height: auto;
}

#section-counter {
    position: relative;
    z-index: 0;
}
#section-counter:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    z-index: -1;
    opacity: 0;
    background: #000000;
}

@media (max-width: 1199.98px) {
    .ftco-counter {
        background-position: center center !important;
    }
}

.ftco-counter .img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 0;
}

.ftco-counter .text {
    display: inline-block;
    -webkit-box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.17);
    box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.17);
}
@media (min-width: 992px) {
    .ftco-counter .text {
        padding-left: 63px !important;
        margin-left: -63px;
    }
}
.ftco-counter .text p {
    font-size: 24px;
    line-height: 1;
}
.ftco-counter .text span.number {
    font-weight: 400;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}
.ftco-counter .text span {
    color: white;
    margin-bottom: 10px;
    font-weight: 500;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
}

#section-counter {
    position: relative;
    z-index: 0;
}
#section-counter:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    z-index: -1;
    opacity: 0;
    background: #000000;
}

@media (max-width: 1199.98px) {
    .ftco-counter {
        background-position: center center !important;
    }
}

.ftco-counter .img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 0;
}

.ftco-counter .text {
    display: inline-block;
    -webkit-box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.17);
    box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.17);
}
@media (min-width: 992px) {
    .ftco-counter .text {
        padding-left: 63px !important;
        margin-left: -63px;
    }
}
.ftco-counter .text p {
    font-size: 24px;
    line-height: 1;
}
.ftco-counter .text span.number {
    font-weight: 400;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}
.ftco-counter .text span {
    color: white;
    margin-bottom: 10px;
    font-weight: 500;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
}

.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #CCC;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap; }

.mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }

#chart-container {
    position: relative;
    height: 400px;
    width: 100%; }

.container {
    text-align: center;
}

.container {
    text-align: center;
}

.circular-graph {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.donut-chart {
    transform: rotate(-90deg); /* Rotate to start segments at the top */
}

.donut-hole {
    fill: #fff; /* Inner circle (hole) */
}

.donut-ring {
    fill: transparent;
    stroke: #e6e6e6;
    stroke-width: 3;
}

.donut-segment {
    fill: transparent;
    stroke-width: 3;
    transition: stroke-dasharray 0.6s ease;
}

.stable-forest {
    stroke: #4CAF50; /* Green */
}

.gain {
    stroke: #2196F3; /* Blue */
}

.loss {
    stroke: #f44336; /* Red */
}

.disturbed {
    stroke: #FFC107; /* Yellow */
}

.chart-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.legend {
    margin-top: 20px;
}

.legend p {
    font-size: 14px;
}

.legend-color {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    vertical-align: middle;
}

.stable-forest-color {
    background-color: #4CAF50;
}

.gain-color {
    background-color: #2196F3;
}

.loss-color {
    background-color: #f44336;
}

.disturbed-color {
    background-color: #FFC107;
}

.container{
    align-content: center;
}


.carousel {
    position: relative;
}

.carousel.pointer-event {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-inner::after {
    display: block;
    clear: both;
    content: "";
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}
@media screen and (prefers-reduced-motion: reduce) {
    .carousel-item {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.carousel-fade .carousel-item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    z-index: 1;
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    z-index: 0;
    opacity: 0;
    -webkit-transition: 0s 0.6s opacity;
    -o-transition: 0s 0.6s opacity;
    transition: 0s 0.6s opacity;
}
@media screen and (prefers-reduced-motion: reduce) {
    .carousel-fade .active.carousel-item-left,
    .carousel-fade .active.carousel-item-right {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    -webkit-transition: opacity 0.15s ease;
    -o-transition: opacity 0.15s ease;
    transition: opacity 0.15s ease;
}
@media screen and (prefers-reduced-motion: reduce) {
    .carousel-control-prev,
    .carousel-control-next {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}
.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.carousel-indicators li {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    -webkit-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
}
@media screen and (prefers-reduced-motion: reduce) {
    .carousel-indicators li {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}
.carousel-indicators .active {
    opacity: 1;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.owl-carousel {
    position: relative;
}
.owl-carousel .owl-item {
    opacity: 0.4;
}
.owl-carousel .owl-item.active {
    opacity: 1;
}
.owl-carousel .owl-dots {
    text-align: center;
}
.owl-carousel .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: #e6e6e6;
    position: relative;
}
.owl-carousel .owl-dots .owl-dot:after {
    position: absolute;
    top: -2px;
    left: -2px;
    right: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.owl-carousel .owl-dots .owl-dot:hover,
.owl-carousel .owl-dots .owl-dot:focus {
    outline: none !important;
}
.owl-carousel .owl-dots .owl-dot.active {
    background: #b3b3b3;
}
.owl-carousel.home-slider {
    position: relative;
    height: 750px;
    z-index: 0;
}
.owl-carousel.home-slider:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 80%;
    background: #77b7ff;
    opacity: 1;
    content: "";
    z-index: -1;
}
.owl-carousel.home-slider .slider-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 750px;
    position: relative;
    z-index: 0;
}
@media (max-width: 1199.98px) {
    .owl-carousel.home-slider .slider-item {
        background-position: center center !important;
    }
}
.owl-carousel.home-slider .slider-item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    opacity: 0;
}
.owl-carousel.home-slider .slider-item .slider-text {
    height: 750px;
    z-index: 0;
}
@media (max-width: 991.98px) {
    .owl-carousel.home-slider .slider-item .slider-text {
        text-align: center;
    }
}
.owl-carousel.home-slider .slider-item .slider-text .one-third {
    width: 80%;
    position: relative;
    height: 650px;
    z-index: -1;
    -webkit-box-shadow: 20px -20px 69px -27px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 20px -20px 69px -27px rgba(0, 0, 0, 0.16);
    box-shadow: 20px -20px 69px -27px rgba(0, 0, 0, 0.16);
}
.owl-carousel.home-slider .slider-item .slider-text .one-third .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    opacity: 0;
}
@media (max-width: 991.98px) {
    .owl-carousel.home-slider .slider-item .slider-text .one-third {
        width: 100%;
        z-index: 0;
    }
    .owl-carousel.home-slider .slider-item .slider-text .one-third .overlay {
        opacity: 0.3;
    }
    .owl-carousel.home-slider .slider-item .slider-text .one-third:after {
        opacity: 0;
    }
}
.owl-carousel.home-slider .slider-item .slider-text .one-forth {
    width: 50%;
    position: relative;
}
@media (min-width: 768px) {
    .owl-carousel.home-slider .slider-item .slider-text .one-forth {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 1200px;
        margin: 0 auto;
    }
}
@media (max-width: 991.98px) {
    .owl-carousel.home-slider .slider-item .slider-text .one-forth {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: scroll;
        overflow:-moz-scrollbars-vertical;
        z-index: 1;
        padding: 1em;
    }
}
.owl-carousel.home-slider .slider-item .slider-text .one-forth .text {
    width: 100%;
}
@media (min-width: 992px) {
    .owl-carousel.home-slider .slider-item .slider-text .one-forth .text {
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 0;
        max-width: 50%;
        padding-left: 45px;
        padding-right: 3em;
    }
}
.owl-carousel.home-slider .slider-item .slider-text .icon-video {
    position: absolute;
    top: 120px;
    right: 70px;
    content: "";
    width: 70px;
    height: 70px;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.owl-carousel.home-slider .slider-item .slider-text .icon-video span {
    font-size: 20px;
    color: #000000;
}
.owl-carousel.home-slider .slider-item .slider-text .subheading {
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #0075f6;
}
.owl-carousel.home-slider .slider-item .slider-text .text {
    position: relative;
    z-index: 1;
}
.owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 60px;
    color: #000000;
    line-height: 1.2;
    font-weight: 800;
}
.owl-carousel.home-slider .slider-item .slider-text h1 span {
    font-weight: 800;
    color: #0075f6;
}
@media (max-width: 991.98px) {
    .owl-carousel.home-slider .slider-item .slider-text h1 {
        color: #fff;
        font-size: 50px;
    }
}
@media (max-width: 767.98px) {
    .owl-carousel.home-slider .slider-item .slider-text h1 {
        font-size: 40px;
    }
}
.owl-carousel.home-slider .slider-item .slider-text h2 {
    font-size: 30px;
    font-weight: 400;
}
@media (max-width: 991.98px) {
    .owl-carousel.home-slider .slider-item .slider-text h2 {
        color: #fff;
    }
}
.owl-carousel.home-slider .slider-item .slider-text p {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
}
@media (max-width: 991.98px) {
    .owl-carousel.home-slider .slider-item .slider-text p {
        color: rgba(255, 255, 255, 0.7);
        font-size: 23px;
    }
}
.owl-carousel.home-slider .slider-item .slider-text .btn-custom {
    border: 1px solid #0075f6;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
}
.owl-carousel.home-slider .owl-nav {
    position: absolute;
    bottom: 60px !important;
    left: 0;
    right: 0;
    margin: 0 auto;
}
@media (max-width: 991.98px) {
    .owl-carousel.home-slider .owl-nav {
        display: none;
    }
}
.owl-carousel.home-slider .owl-nav .owl-prev,
.owl-carousel.home-slider .owl-nav .owl-next {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff !important;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
    opacity: 1;
}
.owl-carousel.home-slider .owl-nav .owl-prev span:before,
.owl-carousel.home-slider .owl-nav .owl-next span:before {
    font-size: 20px;
    margin-top: 7px;
    color: #000000;
}
.owl-carousel.home-slider .owl-nav .owl-prev {
    top: 0 !important;
    right: 0 !important;
}
@media (min-width: 992px) {
    .owl-carousel.home-slider .owl-nav .owl-prev {
        right: 61px !important;
    }
}
.owl-carousel.home-slider .owl-nav .owl-prev:hover,
.owl-carousel.home-slider .owl-nav .owl-prev:focus {
    background: #000000 !important;
    outline: none !important;
}
.owl-carousel.home-slider .owl-nav .owl-prev:hover span:before,
.owl-carousel.home-slider .owl-nav .owl-prev:focus span:before {
    font-size: 20px;
    margin-top: 7px;
    color: #0075f6;
}
.owl-carousel.home-slider .owl-nav .owl-next {
    top: 0 !important;
    right: 0 !important;
}
@media (min-width: 992px) {
    .owl-carousel.home-slider .owl-nav .owl-next {
        right: 0 !important;
    }
}
.owl-carousel.home-slider .owl-nav .owl-next:hover,
.owl-carousel.home-slider .owl-nav .owl-next:focus {
    background: #000000 !important;
    outline: none !important;
}
.owl-carousel.home-slider .owl-nav .owl-next:hover span:before,
.owl-carousel.home-slider .owl-nav .owl-next:focus span:before {
    font-size: 24px;
    margin-top: 7px;
    color: #0075f6;
}
.owl-carousel.home-slider .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    width: 100%;
    text-align: center;
}
@media (min-width: 992px) {
    .owl-carousel.home-slider .owl-dots {
        display: none;
    }
}
@media (max-width: 767.98px) {
    .owl-carousel.home-slider .owl-dots {
        bottom: 5px;
    }
}
.owl-carousel.home-slider .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
}
.owl-carousel.home-slider .owl-dots .owl-dot.active {
    background: #fff;
}

#aboutus-section{
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 2px 4px 8px #75ef76;
}

.about-button{
    text-align: center;
    padding: 10px 20px;
    border: 1px solid #50ba51;
    border-radius: 5px;
    background-color: #50ba51;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 2px 4px 8px #75ef76;
    transition: 0.3s;
}
.about-button:hover{
    background-color: #7ffb81;
    scale: 1.02;
}





nav {
    background: #4bb83a;
    height: 80px;
    width: 100%;
  }
  label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul {
    float: right;
    margin-right: 10px;
  }
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active, a:hover {
    background: #32ce07;
    transition: .5s;
  }
  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check {
    display: none;
  }
  @media (max-width: 952px) {
    label.logo {
      font-size: 20px;
      padding-left: 50px;
    }
    nav ul li a {
      font-size: 16px;
    }
  }
  @media (max-width: 1200px) {
    .checkbtn {
      display: block;
    }
    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #315623;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a {
      font-size: 20px;
    }
    a:hover, a.active {
      background: none;
      color: #32ce07;
    }
    #check:checked ~ ul {
      left: 0;
    }
  }